In [1]:
import pandas as pd
import requests

In [16]:
from datetime import datetime as dt

In [2]:
URL = 'https://api.covid19api.com/summary'

In [4]:
data = requests.get(URL).json()

In [5]:
summary = data['Countries']

In [7]:
df = pd.DataFrame(summary)

In [9]:
df.dtypes

Country           object
CountryCode       object
Slug              object
NewConfirmed       int64
TotalConfirmed     int64
NewDeaths          int64
TotalDeaths        int64
NewRecovered       int64
TotalRecovered     int64
Date              object
Premium           object
dtype: object

In [ ]:
df_countries = pd.DataFrame()
int_cols = []

for i in range(len(countries)):
	for j, k in countries[i].items():
		if type(k) == int:
			int_cols.append(j)
		df_countries.loc[i, str(j)] = str(k)

# transform n#-cols to int
set_int_cols = set(int_cols)
for i in set_int_cols:
	df_countries[i] = df_countries[i].apply(lambda x: int(x))

In [17]:
df['Date'] = df['Date'].map(lambda x: dt.strptime(x, '%Y-%m-%dT%H:%M:%SZ').strftime('%m-%d-%Y'))

In [18]:
df['Country'] = df['Country'].apply(lambda x: x.replace("'", ''))

In [20]:
df.loc[df[df.Country == 'Namibia'].index,'ISO2'] = 'NA'

In [22]:
df = df[df['CountryCode'] != 'RE']

In [23]:
df = df[df['CountryCode'] != 'MO']

In [24]:
df = df.reset_index(drop = True)

In [25]:
df

,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,Premium,ISO2
0,Afghanistan,AF,afghanistan,46,53584,13,2301,471,44608,01-13-2021,{},NaN
1,Albania,AL,albania,656,64627,5,1252,440,38421,01-13-2021,{},NaN
2,Algeria,DZ,algeria,272,102641,4,2816,205,69608,01-13-2021,{},NaN
3,Andorra,AD,andorra,96,8682,1,86,206,7930,01-13-2021,{},NaN
4,Angola,AO,angola,89,18343,2,422,687,15512,01-13-2021,{},NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
185,Viet Nam,VN,vietnam,5,1520,0,35,0,1361,01-13-2021,{},NaN
186,Western Sahara,EH,western-sahara,0,10,0,1,0,8,01-13-2021,{},NaN
187,Yemen,YE,yemen,2,2107,0,612,0,1416,01-13-2021,{},NaN
188,Zambia,ZM,zambia,1161,29757,24,495,293,21074,01-13-2021,{},NaN
189,Zimbabwe,ZW,zimbabwe,942,23239,23,551,183,13396,01-13-2021,{},NaN